@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

.content {
  background: #ECF1F6;
}

.white_box {
  background: #FFF;
  border-radius: 10px;
}

ul,
li {
  list-style: none;
}

.login_title {
  display: flex;
  flex-direction: column;
  /* 子要素を縦方向に配置 */
  align-items: center;
  /* 中央揃え */
  justify-content: center;
  /* 中央揃え */
}

.title-icon {
  width: 180px;
  margin-bottom: 50px;
}

/* サイドバー */
.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 15px;
  position: fixed;
}

.main-container {
  margin-left: 180px;
  width: calc(100% - 150px);
  /* 追加: 全体の幅からサイドバーの幅を引いた幅を設定 */
}

.menu-icon {
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  /* display:none; */
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.post_status {
  margin-left: auto;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

.post_btn {
  border-radius: 5px;
  padding: 5px 5px;
  background: #03AAD2;
  text-align: center;
}

.post_btn a {
  font-size: 12px;
  color: #FFF;
  text-align: center;
  display: block;
}

.search_words {
  background-color: #ECF1F6;
  border-radius: 5px;
  border-color: #999;
  border-width: thin;
}

.post_search_btn {
  border-radius: 5px;
  padding: 5px 10px;
  background: #03AAD2;
  text-align: center;
  color: #FFF;
  border: none;
  font-size: 12px;
}

.category-header.active p {
  border-bottom: 2px solid #D3D3D3;
  width: 70%;
  transition: border-bottom 0.3s ease;
}

.sub_categories_posts {
  display: block;
  border: none;
  margin-top: 15px;
  border-bottom: 2px solid #D3D3D3;
  width: 50%;
  text-align: left;
  background-color: #ECF1F6;
}

.sub-categories {
  margin-left: 20px;
  padding-bottom: 20px;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  background: #1E90FF;
  color: #FFF;
  font-size: 13px;
  text-align: center;
}

.post_delete_btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  background: #FF0000;
  color: #FFF;
  font-size: 13px;
  text-align: center;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 3px 8px;
  background: #01ABD2;
  color: #FFF;
  display: inline-block;
  text-align: center;
  border: none;
}

.category_btn_good {
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  background: #FF69B4;
  color: #FFF;
  border: none;
}

.category_btn_mine {
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  background: #FFA500;
  color: #FFF;
  border: none;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

.w-100 {
  margin-bottom: 10px;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: #FFF;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
}

.search_conditions {
  margin-top: 20px;
}

.search_conditions>p.active {
  border-bottom: 2px solid #D3D3D3;
  width: 50%;
  transition: border-bottom 0.3s ease;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #ECF1F6;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.user_search_btn {
  color: #FFF;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 6px 50px;
  background: #03AAD2;
  text-align: center;
  margin-top: 30px;
}

.reset_btn_area {
  margin: 15px 30px;
}

.reset_btn {
  color: #01ABD2;
  font-size: 15px;
}

.search_post {
  margin-top: 10px;
}

.search_form {
  margin-top: 20px;
}

.reserve_users_area {
  background-color: #ECF1F6;
}

.one_person {
  margin: 5px;
  border-radius: 10px;
  background-color: #FFF;
  padding-top: 15px;
  padding-left: 15px;
}

.free_word {
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;

}

.category_box {
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  color: #000003;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 4px 10px;
}

.engineer {
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  color: #000003;
  font-size: 12px;
  padding: 4px 10px;
}

.subject_form {
  display: flex;
  align-items: center;
}

.subject_list {
  margin-right: 20px;
  margin-top: 10px;
}

.select_box {
  margin-top: 10px;
}

.subject_box {
  margin-right: 10px;
}

.profile_title {
  margin-bottom: 20px;
}

.search_area label {
  color: #000033;
}

/* Calendar */
.day_part {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
}

.table-center {
  background-color: #03AAD2;
  color: white;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.table_detail {
  color: #000000;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
  /* セルの内容を中央揃えに設定 */
  width: 33.33%;
}

/* 偶数行の背景色をライトグリーンに設定 */
tr:nth-child(even) .table_detail {
  background-color: #CCFFFF;
}

/* 奇数行の背景色をホワイトに設定 */
tr:nth-child(odd) .table_detail {
  background-color: white;
}
